::-webkit-scrollbar { width: 6px; height: 6px;}
::-webkit-scrollbar-track {  background-color: #f70;}
::-webkit-scrollbar-track-piece { background-color: #ccc;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #f70; }
::-webkit-scrollbar-corner { background-color: #f70;}}
::-webkit-resizer { background-color: #f70;}

.abahsoft_clearfix {
	clear: both;
}

.abahsoft_header_back {
	height: 70px;
	position: fixed;
	background-position: right center;
	background-repeat: no-repeat;
	background-image: url('../img/bg-head.png');
	background: #ddd;
	z-index: 90;
	width: 100%;
	top: 0px;
}

.abahsoft_header_front {
	background-color: #1ba1e2;
	background-position: right center;
	background-repeat: no-repeat;
	background-image: url('../img/bg-head.png');
	height: 58px;
	border-top: 4px solid #f70;
	z-index: 91;
	position: fixed;
	width: 100%;
	top: 0px;
}
	.abahsoft_menu_header {
		height: 62px;
		width: 250px;
		background: #1ba1e2;
		float: left;
		margin-top: 0px;
	}
		.abahsoft_menu_current {
			background-color: transparent;
			color: #ffffff;
			height: 40px;
			font-family: Arial, Sans-Serif;
		}
			.abahsoft_menu_current_icon {
				font-size: 32px;
				height: 30px;
				padding: 6px;
				width: 50px;
				font-weight: bold;
				float: left;
				text-align: center;
				color: #ff2d19;
			}
			.abahsoft_menu_current_name {
				height: 20px;
				font-size: 20px;
				font-weight: bold;
				line-height: 20px;
				padding: 15px 0px;
				float: left;
			}
		.abahsoft_menu_arrow {
			background-color: #f5f5f5;
			height: 20px;
			cursor: pointer;
			background-image: url('../img/down.png');
			background-position: center center;
			background-repeat: no-repeat;
		}

	.abahsoft_site_logo {
		background-color: #f5f5f5;
		background-position: center center;
		background-repeat: no-repeat;
		background-image: url('../img/logo-mksr.jpg');
		height: 56px;
		width: 45px;
		float: left;
		cursor: pointer;
		margin-top: 0px;
	}

	.abahsoft_site-tag {
		height: 38px;
		padding: 16px 0 18px 10px;
		margin-top: -4px;
		float: left;
		font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
	}
		.mk_site_tag_parrent {
			height: 20px;
			font-size: 18px;
			font-weight: bold;
			color: #fff;
		}
		.mk_site_tag_child {
			height: 14px;
			font-size: 12px;
			color: #ccc;
			margin-top: -4px;
		}
.abahsoft_app_menu {
	width: 249px;
	background-color: #fff;
	position: absolute;
	top: 70px;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	z-index: 89;
}
	.abahsoft_app_menu > ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	.abahsoft_app_menu > ul li {
		border: 0;
		color: #222;
		background: #fff;
		margin: 0;
		height: 50px;
		font-size: 14px;
		border-bottom: 1px solid #ccc;
		padding: 10px;
		padding-left: 20px;
		padding-top: 10px;
		cursor: pointer;
	}
	.abahsoft_app_menu > ul li.abahsoft_app_menu_hover {
		background-color: #f5f5f5;
	}
	.abahsoft_app_menu > ul li.abahsoft_app_menu_selected {
		color: #ff2d19 !important;
		font-weight: bold;
	}
		.abahsoft_app_menu > ul li .abahsoft_menu_icon {
			font-size: 28px;
			height: 28px;
			position: absolute;
		}
		.abahsoft_app_menu > ul li .abahsoft_menu_text {
			font-size: 16px;
			height: 16px;
			padding: 4px 4px 4px 35px;
		}

.abahsoft_left_content {
	position: fixed;
	top: 68px;
	left: 0px;
	background-color: #f7f7f7;
	z-index: 40;
	padding: 30px 20px 20px 20px;
	overflow: auto;
	display: none;
}
	.abahsoft_left_content_data {
		background-color: #fff;
		padding: 10px;
	}
.abahsoft_right_content {
	position: fixed;
	width: 320px;
	top: 68px;
	right: 0px;
	background-color: transparent;
	/*border-left: 1px solid #aaa;*/
	z-index: 41;
	overflow: hidden;
}
	.abahsoft_right_content_data {
		padding: 18px 10px 13px 10px;
		position: absolute;
		/*top: 0px;*/
		right: -300px;
		width: 300px;
		overflow: auto;
		background-color: #fff;
		z-index: 50;
	}
		
		.abahsoft_right_custom_recap_box {
			padding: 10px 0 0 0;
		}
			#abahsoft_right_custom_recap {
				display: none;
			}
			.abahsoft_right_custom_recap_items {
				font-size: 12px;
				line-height: 12px;
				border-top: 1px dashed #ccc;
				padding: 2px;
			}
				.abahsoft_right_custom_recap_items > div {
					color: #666;
					font-size: 9px;
				}
		.abahsoft_right_list_menu > ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}
		.abahsoft_right_list_menu > ul li {
			cursor: pointer;
			margin-top: 4px;
			border: 2px solid #aaa;
			padding: 10px 20px;
		}
		.abahsoft_right_list_menu_hover {
			border: 2px solid #666 !important;
		}
		.abahsoft_right_list_menu_selected {
			border: 2px solid #666 !important;
			background-color: #444;
			color: #fff;
			cursor: default !important;
			font-weight: bold;
		}

		.abahsoft_right_list_menu_dashboard > ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}
		.abahsoft_right_list_menu_dashboard > ul li {
			cursor: pointer;
			margin-top: 4px;
			border: 2px solid #aaa;
			padding: 10px 20px;
		}
		.abahsoft_right_list_menu_dashboard_hover {
			border: 2px solid #666 !important;
		}
		.abahsoft_right_list_menu_dashboard_selected {
			border: 2px solid #666 !important;
			background-color: #444;
			color: #fff;
			cursor: default !important;
			font-weight: bold;
		}

		.abahsoft_right_list_menu_kuisoner > ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}
		.abahsoft_right_list_menu_kuisoner > ul li {
			cursor: pointer;
			margin-top: 4px;
			border: 2px solid #aaa;
			padding: 10px 20px;
		}
		.abahsoft_right_list_menu_kuisoner_hover {
			border: 2px solid #666 !important;
		}
		.abahsoft_right_list_menu_kuisoner_selected {
			border: 2px solid #666 !important;
			background-color: #444;
			color: #fff;
			cursor: default !important;
			font-weight: bold;
		}

		.abahsoft_right_petatematik_menu > ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}
		.abahsoft_right_petatematik_menu > ul li {
			cursor: pointer;
			margin-top: 4px;
			border: 2px solid #aaa;
			padding: 10px 20px;
		}
		.abahsoft_right_petatematik_menu_hover {
			border: 0px solid #666 !important;
		}
		.abahsoft_right_petatematik_menu_selected {
			/*border: 2px solid #666 !important;
			background-color: #444;*/
			background: #edf4fc;
			border-color: #a8d2fd;
			color: #fff;
			cursor: default !important;
			font-weight: bold;
		}
		
		li.abahsoft_right_petatematik_menu_selected a{
			/*border: 2px solid #666 !important;
			background-color: #444;*/
			background-color: #00aff0 !important;
			color: #fff !important;
		}

.abahsoft_app_name {
	position: fixed;
	top: 4px;
	right: 63px;
	z-index: 92;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
	font-size: 18px;
	font-weight: bold;
	height: 20px;
	padding: 18px 10px 20px 0px;
	color: #fff;
}
.abahsoft_app_logout {
	position: fixed;
	width: 30px;
	top: 0px;
	right: 20px;
	z-index: 92;
	font-size: 40px;
	font-weight: bold;
	height: 30px;
	background-color: transparent;
	cursor: pointer;
	text-align: center;
	padding: 4px 0;
	color: #fff;
}
.abahsoft_app_logout_hover {
	color: #f00;
}
.abahsoft_map_area {
	position: absolute;
	width: 80%;
	top: 68px;
	overflow: hidden;
	z-index: 39;
	left: 0px;
}
	.abahsoft_quick_search {
		z-index: 38;
		position: fixed;
		top: 90px;
		left: 20px;
	}
		#abahsoft_quick_search_result {
			color: #777;
		}
			.abahsoft_quick_search_list {
				padding: 5px;
				color: #666;
				border-bottom: 1px dashed #ccc;
				background-color: #fff;
				height: auto;
				font-size: 11px;
			}
			.abahsoft_quick_search_list:hover {
				color: #111;
				background-color: #6bb5f2;
			}
			
		.abahsoft_add_search {
		z-index: 38;
		position: fixed;
		top: 90px;
		left: 20px;
	}
		#abahsoft_add_search_result {
			color: #777;
		}
			.abahsoft_add_search_list {
				padding: 5px;
				color: #666;
				border-bottom: 1px dashed #ccc;
				background-color: #fff;
				height: auto;
				font-size: 11px;
			}
			.abahsoft_add_search_list:hover {
				color: #111;
				background-color: #6bb5f2;
			}
			
		#abahsoft_close_barang_search {
			color: #777;
		}
			.abahsoft_barang_search_list {
				padding: 5px;
				color: #666;
				border-bottom: 1px dashed #ccc;
				background-color: #fff;
				height: auto;
				font-size: 11px;
			}
			.abahsoft_barang_search_list:hover {
				color: #111;
				background-color: #6bb5f2;
			}	

.abahsoft_news_ticker_back {
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 40px;
	background-color: #eee;
	z-index: 90;
}

.abahsoft_news_ticker_front {
	position: fixed;
	bottom: 0px;
	color: #444;
	width: 100%;
	background-color: #f5f5f5;
	z-index: 90;
	border-top: 1px solid #aaa;
	font-size: 14px;
	padding: 10px 0 10px 0;
	text-align: center;
}




#abahsoft_content_responden_detail {
	
}

#abahsoft_respondens tbody tr td, #abahsoft_users tbody tr td {
	font-size: 11px;
}

.aLignLeft {
	text-align: left;
}
.aLignCenter {
	text-align: center;
}
.aLignRight {
	text-align: right;
}

.paginate_button {
	border: 1px solid #ccc;
	padding: 5px 10px;
	margin: 2px;
	text-decoration: none;
	cursor: pointer;
	color: #444;
}

.paginate_active {
	padding: 5px 10px;
	color: #444;
	font-weight: bold;
	cursor: default;
	border: 1px solid #aaa !important;
	background-color: #f5f5f5;
	text-decoration: none;
	margin: 2px;
}

.paginate_button:hover, .paginate_active:hover {
	color: #444;
	border: 1px solid #aaa;
	background-color: #f5f5f5;
	text-decoration: none;
}

.dataTables_info {
	float: left;
	font-size: 10px;
	color: #666;
}

.dataTables_paginate {
	float: right;
}

.dataTables_filter {
	float: right;
}
.abahsoft_respondens_length {
	float: left;
}
.dataTables_length {
	display: none;
}


#abahsoft_table_responden_detail {
	font-size: 12px;
}

.abahsoft_rekap_summary_box {
	padding: 0 0 25px 30px;
	margin-top: -10px;
}


/* SoKA */
	.abahsoft_form_option {
		padding: 4px;
		padding-bottom: 0px;
		padding-top: 8px;
		border: 1px solid transparent;
	}
		.abahsoft_form_option_number {
			text-align: right;
			padding-right: 5px;
			width: 20px;
			float: left;
		}
		.abahsoft_form_option_delete_hover {
			border: 1px solid #fdd;
			background: #fee;
		}
		.abahsoft_form_option_add_hover {
			border: 1px solid #cfc;
			background: #efe;
		}
	.abahsoft_option_child_padding {
		padding-left: 30px;
	}

	.abahsoft_form_kuisoner_error {
		border-color: #f22 !important;
		background-color: #faa !important;
	}
/* EoKA */

/*abah tambah side panel*/
.panel {
    position: absolute;
    width: 15%;
    z-index: 300;
    height: 100%;
    background: white;
}

.show-panel {
    left: 0px;
}

.hide-panel {
    left: -15%;
}

#toggle-button {
    position: absolute;
    background: silver;
    border: 0px solid black;
    cursor: pointer;
	top:10px;
	
}

.show-panel #toggle-button {
    right: 0px;
}

.hide-panel #toggle-button {
    left: 200px;
}

.show-panel+#abahsoft_map_view {
    width: 85%;
    left: 15%;
}

.hide-panel+#abahsoft_map_view {
    width: 85%;
    left: 0%;
}

#infoBox {
	width:300px;
}

.data_koordinat2 {
	position: relative;
	font-size: 12px;
	color: #666;
}

.abahsoft_lokasi {
	position: fixed;	 
	bottom: 0px;
	color: #444;
	width: 30%;
	background-color: #f5f5f5;
	z-index: 100;
	border-top: 1px solid #aaa;
	font-size: 14px;
	padding: 10px 0 10px 0;
	text-align: left;
}

.data_koordinat {
	position: fixed;
    left: 70px;	
	bottom: 0px;
	color: #444;
	width: 30%;
	background-color: #f5f5f5;
	z-index: 100;
	border-top: 1px solid #aaa;
	font-size: 14px;
	padding: 10px 0 10px 0;
	text-align: left;
}

.abahsoft_cari_lokasi {
	position: fixed;
    left: 500px;	
	bottom: 0px;
	color: #444;
	width: 30%;
	background-color: #f5f5f5;
	z-index: 100;
	border-top: 1px solid #aaa;
	font-size: 14px;
	padding: 10px 0 10px 0;
	text-align: left;
}
